Source: glibc
Version: 2.31
Homepage: http://www.gnu.org/software/libc/
Description: The GNU C Library project provides the core libraries for the GNU system and GNU/Linux systems, as well as many other systems that use Linux as the kernel.
Build-Depends: binutils, linux-headers
